<!DOCTYPE html>
<html>
  <head>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>RakshaIQN</title>
  </head>
  <body>
    <div id="contBox">

      <div class="navbarcs">
        <nav>
          <div class="logo">
            <img src="../images/logo.png" alt="" style="cursor: pointer;"/>
          </div>
          <div class="link">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
          </div>
        </nav>
      </div>

      <section id="home-page" class="home-page"">
        <div class="home">
          <p style="text-align: start;" class="intro">Intro RakshaIQN</p>
          <h1>Need Admission  <br /> Consultation.</h1>
          <p>"Dream Greet Consultancy Consultancy Guides Students Through The College Application Process, <br> Offering Support And Expertise To Help Them Secure Admission To Their Desired Educational Institutions."</p>
          <button>Free Consultation</button>
        </div>
      </section>
      <div class="line"></div>
      <!-- <section class="about-page">
        <div class="about">
          <div class="heading">
            <h4>Welcome To RakshaIQN</h4>
            <h2>A Smarter <span>Way to</span> <br> create value</h2>
          </div>
          <div class="count">
            <div class="card">
              <div class="one">
                <h3>Simple</h3>
                <p style="color: #dadada;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, explicabo!</p>
              </div>
            </div>
            <div class="card">
              <div class="two">
                <h3>Clear</h3>
                <p style="color: #dadada;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, explicabo!</p>
              </div>
            </div>
            <div class="card">
              <div class="three">
                <h3>Effective</h3>
                <p style="color: #dadada;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, explicabo!</p>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      <section class="feature-page">
        <h1>Our Features</h1>
        <div class="featurepage">
          <h2>We are the next gen <br> Consultancy in Bihar.</h2>
          <p>Gyan Greet Consultancy Provides Personalized Help And Advice. They Offer Tailored Solutions For Individual Needs. <br> With Their Support, Achieving Goals Becomes Simpler. Their Dedication Ensures Client Success And Satisfaction</p>
          <div class="cards">
            <div class="img">
              <img src="../images/growth.png" alt="">
            </div>
            <div class="cont">
              <h3>Career Growth</h3>
              <p>Progressing, Learning, Evolving For Career Success.</p>
            </div>
          </div>
          <div class="cards">
            <div class="img">
              <img src="../images/target.png" alt="">
            </div>
            <div class="cont">
              <h3>Guaranteed admission</h3>
              <p>Secure Your Spot With Guaranteed Admission</p>
            </div>
          </div>
        </div>
      </section>

      <section id="service-page" class="service-page">
        <h1>Select Your <span>Study Goal</span></h1>
        <p>Reset your research strategy by browsing through our lists of top colleges, exams, <br>
          courses and careers based on your area of interest!</p>
        <div class="servicepage">
          <div class="courses">
            <div class="course">
              <div class="serimg"><img src="../images/engineer (1).png" alt=""></div>
              <div class="serdet">
                <h3>Engineering</h3>
                <h4>B.TECH<br>M.TECH<br>DIPLOMA <br>BCA</h4>
              </div>
            </div>
            <div class="course">
              <div class="serimg"><img src="../images/inspiration.png" alt=""></div>
              <div class="serdet">
                <h3>Arts Courses</h3>
                <h4>B.A<br>B.ED<br>DFD</h4>
              </div>
            </div>
            <div class="course">
              <div class="serimg"><img src="../images/coordinator.png" alt=""></div>
              <div class="serdet">
                <h3>Managment</h3>
                <h4>BBA<br>BMS<br>BBM<br>BHMCT</h4>
              </div>
            </div>
            <div class="course">
              <div class="serimg"><img src="../images/shopping-online.png" alt=""></div>
              <div class="serdet">
                <h3>Commerce Courses</h3>
                <h4>B.Com<br>LLB<br>DCA<br>CA</h4>
              </div>
            </div>
            <div class="course">
              <div class="serimg"><img src="../images/doctor.png" alt=""></div>
              <div class="sedet">
                <h3>Medical</h3>
                <h4>MBBS<br>BAMS<br>BUMS<br>BDS</h4>
              </div>
            </div>
            <div class="course">
              <div class="serimg"><img src="../images/mass-media.png" alt=""></div>
              <div class="serdet">
                <h3>Mass Communication</h3>
                <h4>BJMC<br>BHJMC<br>DJMC</h4>
              </div>
            </div>
          </div>
          <!-- <div class="projects">
            <div class="project">
              <h1>Landing <br> Page</h1>
              <p>I will help you create a spectacular one page site. Everything in its place- I will pull the juiciest out of the content and translate it into the design.</p>
            </div>
            <div class="projectdetail"></div>
          </div>
          <div class="projects">
            <div class="project">
              <h1>Multi-pages <br> Website</h1>
              <p>I will help you create a spectacular one page site. Everything in its place- I will pull the juiciest out of the content and translate it into the design.</p>
            </div>
            <div class="projectdetail"></div>
          </div>
          <div class="projects">
            <div class="project">
              <h1>Online <br> Store</h1>
              <p>I will help you create a spectacular one page site. Everything in its place- I will pull the juiciest out of the content and translate it into the design.</p>
            </div>
            <div class="projectdetail"></div>
          </div>
          <div class="projects">
            <div class="project">
              <h1>Design in <br> Figma</h1>
              <p>I will help you create a spectacular one page site. Everything in its place- I will pull the juiciest out of the content and translate it into the design.</p>
            </div>
            <div class="projectdetail"></div>
          </div> -->
        </div>
      </section>

      <div id="contact-page" class="contact-page">
        <h1>Contact</h1>
        <div class="contactpage">
          <div class="text">
            <h2>Let's</h2>
            <div class="shape"></div>
            <h2>Get in</h2>
            <h2>Touch</h2>
          </div>
          <div class="form">
            <form action="/" method="post">
              <input type="text" name="fullname" id="" placeholder="Full Name" required>
              <div class="contact">
                <input type="email" name="email" id="" placeholder="Email" required>
                <input type="number" name="mobileno" id="" placeholder="Number" required>
              </div>
              <input type="text" name="message" id="" placeholder="Message">
              <input type="submit" value="Submit">
              <!-- <label for="submit"><box-icon name='right-arrow-alt'></box-icon></label> -->
            </form>
            <div class="icon">
              <a href=""><box-icon type='logo' name='github'></box-icon></a>
              <a href=""><box-icon type='logo' name='whatsapp'></box-icon></a>
              <a href=""><box-icon type='logo' name='facebook'></box-icon></a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-page">
        <div class="footer">
          <div class="link">
            <a href="/">Home</a>
            <a href="#about-page">About</a>
            <a href="#service-page">Services</a>
            <a href="#contact-page">Contact</a>
          </div>
          <div class="icon">
            <a href=""><box-icon type='logo' name='github'></box-icon>Github</a>
            <a href=""><box-icon type='logo' name='linkedin'></box-icon>Linkedin</a>
            <a href=""><box-icon type='logo' name='whatsapp'></box-icon>Whatsapp</a>
            <a href=""><box-icon type='logo' name='instagram'></box-icon>Instagram</a>
            <a href=""><box-icon type='logo' name='facebook'></box-icon>Facebook</a>
          </div>
          <p style="color: #979797; text-align: center; margin-top: 40px;">"Dream Greet Consultancy Consultancy Guides Students Through The College Application Process,<br>
            Offering Support And Expertise To Help Them Secure Admission To Their Desired Educational Institutions."</p>
            <!-- <div class="contec">
              <box-icon type="'logo" name="phone"></box-icon>
            </div> -->
        </div>
      </div>

    </div>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="../javascripts/animation.js"></script> -->
  </body>
</html>
