@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../font/pxiAyp8kv8JHgFVrJJLmE0tDMPKzSQ.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    cursor: none;
}
.box{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    line-height: -10vh;
    align-items: center;
}
h1{
    font-size: 30vw;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 2px #343434;
}
.cursor{
    position: fixed;
    width:60px;
    height: 60px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all .1s linear;
    mix-blend-mode: difference;
    backdrop-filter: blur(2px);
    border: 1px solid #fff;
}
span{
    position: absolute;
    font-size: 5vw;
    color: #ffffff;
}
.link{
    margin-top: -60px;
    z-index: 2;
    /* border: 1px solid red; */
}
h2{
    font-size: 3vw;
    margin-bottom: -100px;
    color: #fff;
}
a{
    position: relative;
    cursor: none;
    padding: 10px 20px;
    color: #fff;
    /* font-size: ; */
    text-decoration: none;
    z-index: 20;
}
a::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 2px;
    background: #fff;
}